    @import "../valo/valo.scss";
    @mixin colored {
      @include valo;
      
      .v-label {
      	color: grey;
      	font-size: 150%;
      }
      
      .tempLabel {
      	font-weight: bold;
      	font-size: 350%;
      	color: black;
      }
      
      .errorLabel {
      	color: red;
      	font-size: 100%;
      }
    }
    @include colored;